<div class="container text-center">
  <div class="row mb-3">
    <div class="col-12">
      <h3>Coin of the day!</h3>
    </div>
  </div>

  <div class="row mb-3">
      <div class="col-12">
        $43,069.89
      </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>
        Bitcoin is a decentralized digital currency, without a central bank or
        single administrator, that can be sent from user to user on the
        peer-to-peer bitcoin network without the need for intermediaries.
      </p>
    </div>
  </div>
</div>
